.img{
	align-items: center;
	align-content: center;
	margin-left: 0px;
	position:absolute;
	max-width: 100%;
	max-height: 100%;
}
.Best{
	max-width: 100%;
	max-height: 100%;
	position: relative;
	margin-left: 772px;
	margin-top: -908px;
}
.Poshta{
	margin-top: -600px;
	margin-left: 257px;
}
.happy-birthday{
	color: #FFFFFF;
	font-family:Trade Winds;
	text-align: center;
	margin-top: -50px;
	width: 220px;
	margin-left: 65px;
	font-size: 40px;
}
.home{
	z-index: -1;
	position: absolute;
	height: 904px;
	width: 1275px;
	margin-left: 67px;
	margin-right: 92px;
	padding-right: 0;
	background-color: #C3895B;
}
.container{
}
.home-content{
	z-index: 1;
	position: absolute;
	width: 573px;
	height: 551px;
	margin-top: 157px;
	margin-left: 150px;
}
.main-text{
	color: #000000;
	font-size:15px;
	height: 260px;
	width: 460px;
	position: absolute;
	margin-top: -10px;
	margin-left: -118px;
}
.block-text{
	position: absolute;
	background-color: #F7E7CE;
	margin-top:280px;
	margin-left: 92px; ;
	width: 470px;
	height: 330px;
}
.left-line{
	position:relative;
	background-color: #FFFFFF;
	width: 32px;
	height: 241px;
	margin-left: 1330px;
	margin-top: 10px;
}
.left-line2{
	position:relative;
	background-color: #FFFFFF;
	width: 32px;
	height: 241px;
	margin-left: 1330px;
	margin-top: 100px;
}
.banner-toma{
	position: absolute;
	margin-top: 68px;
	background-color: #F7E7CE;
	width: 1275px;
	height: 207px;
}
.toma-main{
	font-family:Trade Winds ;
	margin-left: 50px;
	text-align: center;
	font-size: 50px;
}
.toma-text{
	margin-top: -45px;
	font-size: 20px;
}